* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  color: #556;
  background-color: #fff;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.btn-country {
  border: none;
  font-size: 2rem;
  padding: 2rem 5rem;
  border-radius: 1rem;
  color: #fff;
  background: linear-gradient(
    to left bottom,
    #a43da1,
    #9753bf,
    #7f68db,
    #657ceb
  );
  cursor: pointer;
  transition: all 0.3s;
}

.btn-country:hover {
  background: linear-gradient(to right top, #a43da1, #9753bf, #7f68db, #657ceb);
  transform: scale(1.05);
}
