* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  color: #556;
  background-color: #fff;
  min-height: 100vh;
  /* min-width: 100vw; */

  display: flex;
  align-items: center;
  justify-content: center;
}

/* .container {
  display: grid;
  flex-flow: column;
  align-items: center;
} */
/* 
.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  padding: 1rem;
} */

.countries {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 2rem;
  /* opacity: 0; */
  transition: opacity 1s;
  gap: 0.5rem;
  padding: 0.5rem;
}

.btn-country {
  border: none;
  font-size: 2rem;
  padding: 2rem 5rem;
  border-radius: 1rem;
  color: #fff;
  background: linear-gradient(
    to left bottom,
    #a43da1,
    #9753bf,
    #7f68db,
    #657ceb
  );
  cursor: pointer;
  transition: all 0.3s;
}

.btn-country:hover {
  background: linear-gradient(to right top, #a43da1, #9753bf, #7f68db, #657ceb);
  transform: scale(1.05);
}

.country {
  background-color: rgb(235, 231, 231);
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
  font-size: 1.8rem;
  width: 30rem;
}

.country__img {
  width: 30rem;
  height: 17rem;
  object-fit: cover;
  background-color: #556;
  border-top-right-radius: 0.7rem;
  border-top-left-radius: 0.7rem;
}

.country__data {
  padding: 2.5rem 3.75rem 3rem 3.75rem;
}

.country__capital {
  margin-bottom: 0.5rem;
}

.country__row {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.images img {
  display: block;
  width: 80rem;
  margin: 4rem;
}

.neighbour {
  transform: scale(0.85) translateY(1rem);
  margin-left: 0;
}

.neighbour::before {
  content: 'Neighbour country';
  width: 100%;
  position: absolute;
  top: -4rem;

  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #888;
}

.list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  align-items: center;
}
